logs/
bak/
static/
utilities/
key/
data_bak/

aqi_monitoring.egg-info
*.pyc
*.pyo
*.pyd
.env
__pycache__/

# data/ディレクトリを無視するが、特定のファイルは追跡する
data/*
!data/aqi_data.csv

!data/o3_google_api_1month

google_aqi_api_test.html

**/CLAUDE.local.md

data/aqi_data.csv
