logs/
bak/
static/
setup/
utilities/
key/
data_bak/

aqi_monitoring.egg-info
*.pyc
*.pyo
*.pyd
.env
__pycache__/

# data/ディレクトリを無視するが、特定のファイルは追跡する
data/*
!data/kobe_aqi_data.csv

google_aqi_api_test.html

**/CLAUDE.local.md
